<div class="card-columns m-5 animate__animated animate__fadeIn animate__fast">
    <div (click)="showArtist(item)" class="card puntero" *ngFor="let item of items">
        <img [src]="item.images | noimages" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text" *ngFor="let artist of item.artists">
                <span class="badge badge-primary">{{ artist.name }}</span>
            </p>
        </div>
    </div>
</div>